
<a href = "{{ instance.get_absolute_url }}">
<div class="card" style="width: 18rem; min-height: 508px;">
{% if instance.image %}
  <img src="{{ instance.image.url }}" class="card-img-top" height = 280px alt="...">
{% endif %}
  <br/>
  <div class="card-body">
    <h5 class="card-title">{{ instance.title }}</h5>
    <p class="card-text">{{ instance.description|truncatewords:13 }}</p>
  </div>
</div>
<script>    
    $(document).ready(function()
    {
      $('.col-sm-4').hover(
        //trigger when mouse hovers.
        function(){
          $(this).animate({
            marginTop: '-=0.013%',
          }, 1);
        },
        //trigger when mouse goes away.
        function(){
          $(this).animate({
            marginTop: '0%',
          }, 0.5);
        }
      );
    });
</script>
</a>
