{% extends "base.html" %}
{% load static %}

{% block content %}

<div class='text-center'><button type="button" class="btn btn-warning custom"><h1>PROFILE</h1></button></div>
<div class="container">
	  <div class="row">
    <div class="alert alert-warning"role="alert">
		<div class="col">
    
		<table  class="table" id="table" >
        <thead>
            <tr>
            <th scope="col"></th>
            <th scope="col"> </th>
            </tr>
        </thead>
        <tbody class="tbl">
            <tr>
            <td><b>Username:</b></td>
            <td><b><i>{{ request.user }}</i></b></td>
            <td><div class='alert alert-danger'><div id="default1"><img src = "{% static 'img/man.png' %}" width=300 height=300 ></div></div></td>
            </tr>
            <tr>
            <td><h1><a href="#"><button type="button" class="btn btn-info">Your Orders</button></a></h1></td>
            </tr>
            <tr>
            <td><b>Name: </b></td>
            <td>{{ profile.firstname }}
            {{ profile.lastname }}</td>
            </tr>
            <tr>
            <td><b>Primary Address: </b></td>
            <td>{{ profile.address1 }}</td>
            </tr>
            <tr>
            <td><b>Secondary Address: </b></td>
            <td>{{ profile.address2}}</td>
            </tr>
            <tr>
            <td><b>Email id: </b></td>
            <td>{{ request.user.email }}</td>
            </tr>
            <tr>
            <td><b>Phone: </b></td>
            <td>{{ profile.phone }}</td>
            </tr>
        </tbody>
    </table>
		</div>
    </div>
    </div>
	  </div>
	
{% endblock content %}

