{% extends "base.html" %}

{% block content %}

    {% if request.user.is_authenticated %}
        <div class = 'text-center'><h2>Featured Products</h2></div>
        <div class = 'container-fluid'>
            <div class = 'row'>
            {% for obj in Object_list %}
                <div class = 'col-sm-4'>
                {% include "products/snippets/card.html" with instance=obj %}
                <hr/></div>
            {% endfor %}
            </div>
        </div>

    {% else %}
        <h2>Uh-oh.. You cannot view <b>Featured content</b> because you are logged out.</h2>
        <div class = 'text-center'><a class="btn btn-warning" href = "{% url 'login' %}" >Login now</a></div>
    {% endif %}
    

{% endblock content %}

{% if not user.is_authenticated %}
{% block footer %}
    <br/><footer id="p2"> &copy; 2020 AKumar WebDev Inc. All rights reserved. </footer>
{% endblock footer %}
{% endif %}

